.row {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
  }
  
  .posters {
    display: flex;
    /* width: 100%; */
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .posters::-webkit-scrollbar {
    display: none;
  }
  
  .poster {
    max-height: 165px;
    margin-right: 10px;
    filter: brightness(80%);
  }
  
  .poster:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .small_poster {
    margin-bottom: 10px;
    max-height: 150px;
    margin-right: 10px;
    filter: brightness(75%);
  }
  
  .small_poster:hover {
    transform: scale(1.1);
  }
  
  .dis {
    position: relative;
    width: 100%;
    top: -70px;
    /* padding: 5px; */
    z-index: 1;
  }
  
  .dis h5 {
    font-size: large;
  }
  
  .dis_small {
    position: relative;
    width: 100%;
    top: -75px;
  }
  
  .overview {
    font-size: 12px;
  }
  
  .close {
    z-index: 1;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }